.mypage-background {
  position: absolute;
  z-index: -20;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(127, 99, 255), rgb(166, 70, 255));
}

.mypage-background div {
  position: relative;
  top: -300px;
  left: -20px;
  color: rgba(255, 255, 255, 0.05);
  font-weight: 900;
  font-size: 300px;
  width: 200vw;
  margin: 0px;
  letter-spacing: -10px;
  word-spacing: -10px;
  line-height: 240px;
  transform: translate(0px, 30px) rotate(-10deg);
  animation: move 5s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(0px, 30px) rotate(-10deg);
    color: rgba(255, 255, 255, 0.05);
  }
  50% {
    transform: translate(0px, 50px) rotate(-10deg);
    color: rgba(255, 255, 255, 0.06);
  }
  100% {
    transform: translate(0px, 30px) rotate(-10deg);
    color: rgba(255, 255, 255, 0.05);
  }
}
