.right-side-container {
  display: grid;
  grid-template-rows: 1fr 1fr 9fr 1fr;
}

.right-side-container > * {
  border: 1px solid black;
}

.right-btn-group {
  max-height: 50px;
}

.right-timer {
  max-height: 50px;
}

.right-setting {
  max-height: 50px;
}
