.right-side-container {
  display: flex;
  flex-direction: column;
}

.right-side-container > * {
  border: 1px solid black;
}

.right-btn-group {
  max-height: 50px;
}

.right-board {
  height: 100%;
}

.right-timer {
  max-height: 50px;
}

.right-setting {
  max-height: 50px;
}
