.chat-container {
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: rgba(255, 255, 255, 0.6);
  min-width: 200px;
  width: auto;
  position: relative;
  overflow: hidden;
}

.close-chat {
  position: absolute;
  top: 1%;
  right: 3%;
  cursor: pointer;
}

.chat-area {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 35px;
  padding: 10px;
  height: calc(100% - 125px);
  overflow: auto;
}

.chat-header {
  padding: 5px 10px;
  font-size: 10px;
  color: white;
  position: absolute;
  top: 1%;
  left: 3%;
  background: linear-gradient(blueviolet, cornflowerblue);
}

.chat-input-button {
  display: flex;
  height: 50px;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-input {
  padding-left: 15px;
  padding-top: 2px;
  outline: none;
  width: 85%;
  height: 75%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-send-button {
  font-size: 25px;
  height: autopx;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  height: 75%;
  padding-bottom: 3px;
  width: 15%;
}

.send-icon {
  transform: translate(9px, 1px);
  background: linear-gradient(to right, blueviolet, cornflowerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chat-send-button:active {
  background: linear-gradient(to right, blueviolet, cornflowerblue);
}

.chat-send-button:active > i {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.chat-content {
  background-color: white;
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 20px;
  display: inline-block;
}

.chat-profile-username {
  display: flex;
}

.chat-profile {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1) ;
}

.chat-username {
  font-size: 12px;
  margin-bottom: 5px;
  margin: 0px 5px;
}

.chat-content-you {
  background-color: slategray;
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-right: 20px;
  display: inline-block;
  text-align: end;
}

.chat-you {
  display: flex;
  justify-content: flex-end;
}

.chat-profile-username-you {
  display: flex;
  flex-direction: row-reverse;
}
