.dialong-body {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

.dialog-container {
  min-width: 400px;
  min-height: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}
