.right-screen {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(30px);
  border-radius: 0px 40px 40px 0px;
  padding: 10px 30px;
  width: 80vw;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-group .el-select {
  max-width: 100px;
}

.search-group .el-input {
  max-width: 200px;
}

.infinite-list {
  padding-left: 0;
  max-height: calc(100% - 35px);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.infinite-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@media (max-width: 1000px) {
  .room-list {
    min-width: 350px;
  }

  .top-btn-group {
    max-width: 100%;
  }

  .select-type > * {
    display: none;
  }

  .select-game {
    display: none;
  }
}

@media (min-width: 1001px) and (max-width: 1269px) {
  .room-list {
    min-width: 700px;
  }
}

@media (min-width: 1270px) {
  .room-list {
    min-width: 1021px;
  }
}

.room-list .room-list-item {
  min-width: 335px;
  max-width: 25%;
  display: inline-block;
  cursor: pointer;
}

.select-type {
  display: flex;
}

.select-type > * {
  background-color: white;
  padding: 8px 16px;
  font-size: 13px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.select-type > *:hover {
  background-color: #409EFF;
  color: white;
}

.selected-btn {
  background-color: #409EFF;
  color: white;
}

.select-type .select-all {
  border-radius: 15px 0px 0px 15px;
}

.select-type .select-play {
  border-radius: 0px 15px 15px 0px;
}
