.sound {
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 2vw;
  width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-top: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.025),
              0px 2px 5px rgba(0,0,0,0.15),
              inset 0px -3px 2px rgba(255, 255, 255, 0.025),
              inset 0px 2px 5px rgba(238, 238, 238, 0.15);
}

.sound:hover {
  background-color: rgb(225, 229, 235);
  box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.025),
              inset 0px 2px 5px rgba(0,0,0,0.15);
}
