.webcam-wrap {
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(30px);
  padding: 10px;
  overflow: auto;
  min-width: 250px;
}

.webcam-container {
  display: grid;
  gap: 5px;
}

.under-two {
  grid-template-columns: 1fr 1fr;
}

.under-four {
  grid-template-columns: 1fr 1fr;
}

.under-nine {
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
  .under-two {
    grid-template-columns: 1fr;
  }
  .under-four {
    grid-template-columns: 1fr;
  }
  .under-nine {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 901px) and (max-width: 1115px) {
  .under-nine {
    grid-template-columns: 1fr 1fr;
  }
}


