.mafia-webcam-container {
  display: grid;
  gap: 10px;
}

.under-two {
  grid-template-columns: 1fr 1fr;
}

.under-four {
  grid-template-columns: 1fr 1fr;
}

.under-nine {
  grid-template-columns: 1fr 1fr 1fr;
}

.before-game-start {
  border: solid cornflowerblue 1px;
  background-color: cornflowerblue;
  position: absolute;
  z-index: 500;
  width: 45%;
  top: 5%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  color: white;
  box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.025),
              inset 0px 2px 5px rgba(0,0,0,0.15);
}

@media (max-width: 900px) {
  .under-two {
    grid-template-columns: 1fr;
  }
  .under-four {
    grid-template-columns: 1fr;
  }
  .under-nine {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 901px) and (max-width: 1115px) {
  .under-nine {
    grid-template-columns: 1fr 1fr;
  }
}
