.mafia-webcam-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.under-four {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
