.left-screen {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  border-radius: 30px 0px 0px 30px;
  padding: 60px 40px;

  max-width: 300px;
  display: grid;
  grid-template-rows: 2fr 15fr 20px;
}

.left-screen img {
  border-radius: 50%;
}

.my-info {
  text-align: center;
  max-width: 220px;
}

.my-info img {
  width: 100px;
  height: 100px;
}

.my-info .nickname {
  font-size: 20px;
  font-weight: 500;
}

.my-info .email {
  font-size: 14px;
}

.friend-list {
  padding: 20px;
  width: 180px;
  overflow: auto;
  background: #FFFFFF;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  display: grid;
  row-gap: 15px;
}

.infinite-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.infinite-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.infinite-list .infinite-list-item {
  display: inline-block;
  cursor: pointer;
}
