.game-room-container {
  display: flex;
  flex-direction: column;
  margin: 40px 60px;
  row-gap: 20px;
}

.game-room-container * {
  border-radius: 10px;
}

.game-cam-chat-container {
  display: grid;
  grid-template-columns: 6fr 1fr;
  height: 79vh;
}
