.mypage-container {
  display: grid;
  width: 50%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.6);
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(3, 1fr);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
