.mypage-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-container {
  display: grid;
  width: 50%;
  height: 50%;
  grid-template-columns: 1fr 2fr;
  min-width: 700px;
}
