.webcam-container {
  display: grid;
  gap: 10px;
}

.under-two {
  grid-template-columns: 1fr 1fr;
}

.under-four {
  grid-template-columns: 1fr 1fr;
}

.under-nine {
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
  .under-two {
    grid-template-columns: 1fr;
  }
  .under-four {
    grid-template-columns: 1fr;
  }
  .under-nine {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 901px) and (max-width: 1115px) {
  .under-nine {
    grid-template-columns: 1fr 1fr;
  }
}
