.user-delete-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.user-delete-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: orange;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  width: 100%;

}

.neurang-sad {
  height: 88px;
  transform: scaleX(-100%);
}
