.callmy-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  margin: 40px;
  height: 90vh;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  min-width: 1070px;
}

.callmy-right-side {
  height: 100%;
}
