.night-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: -1000;
  background: linear-gradient(-45deg, #1A1A1A, #415058, #3d596b, rgba(155, 156, 88, 0.71));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.day-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: -1000;
  background: linear-gradient(0deg, #A3E9FF, #95ddff, rgba(221, 133, 255, 0.555), rgba(248, 136, 76));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 40% 80%;
  }
  100% {
    background-position: 0% 60%;
  }
}

.city {
  width: 100vw;
  position: absolute;
  bottom: -5px;
  z-index: -100;
  mix-blend-mode: multiply;
  filter: blur(3px);
}

.mafia-neorang {
  width: 30vw;
  position: absolute;
  right: 2%;
  bottom: 0px;
  z-index: -100;
  filter: blur(2px);
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 20%;
  left: -5%;
  animation: move-circle 10s linear infinite;
  offset-path: path("M-203 431C192.039 -142.175 1694 -142.492 2158 431");
  z-index: -110;
  filter: blur(2px);
}

.moon {
  box-shadow:
    0 0 20px 10px #fff,  /* inner */
    0 0 20px 10px rgb(255, 238, 0), /* middle */
    0 0 20px 10px rgb(205, 255, 248); /* outer */
  background-color: #faff68;
}

.sun {
  box-shadow:
    0 0 20px 10px #fff,  /* inner */
    0 0 20px 10px rgb(255, 238, 0), /* middle */
    0 0 20px 10px rgb(205, 255, 248); /* outer */
  background-color: #FFD050;
}

@keyframes move-circle {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.land {
  width: 100vw;
  position: absolute;
  bottom: -50px;
  z-index: -100;
  filter: blur(2px);
}

.cloud1 {
  position: absolute;
  width: 30vw;
  bottom: 27%;
  z-index: -200;
  filter: blur(2px);
}

.cloud2 {
  position: absolute;
  width: 60vw;
  right: 0px;
  bottom: 27%;
  z-index: -200;
  filter: blur(2px);
}

.cloud3 {
  position: absolute;
  width: 60vw;
  bottom: 26%;
  z-index: -200;
  filter: blur(2px);
}

.countdown {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.countdown .counter {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  margin-top: 30vh;
}
