.profile-change-dialog-menu {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.profile-change-dialog-menu > li {
  cursor: pointer;
  font-size: 15px;
  color: slategray;
  padding: 0px;
  margin: 0px;
}

.image-uploader {
  display: none;
}
