.setting-container {
  height: auto;
  position: relative;
}

.game-btn {

  display: flex;
  justify-content: center;
}

.game-btn > div {
  height: 100%;
}

.setting-btn {
  display: inline-block;
}
